<h1>Songs</h1>

<table>
  <thead>
    <tr>
      <th>Song Title</th>
      <th>Artist Name</th>
      <th>Genre</th>
      <th>Release Year</th>
      <th>Released?</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @songs.each do |song| %>
    <tr>
      <td> <%= link_to song.title, song_path(song) %> </td>
      <td> <%= song.artist_name  %> </td>
      <td> <%= song.genre %> </td>
      <td> <%= song.release_year %> </td>
      <td> <%= song.released %> </td>
    <% end %>
    </tr>
  </tbody>
</table>
    

  
