<br>
<h1 align="center"><b><u>Song Information</u>:</b></h1>
<br>
<br>
<p><u>Song Title</u>: &nbsp; <%= @song.title %> </p>
<p><u>Artist(s)</u>: &nbsp; <%= @song.artist_name %> </p>
<p><u>Genre(s)</u>: &nbsp; <%= @song.genre %> </p>
<% if @song.released %>
    <p><u>Release Year</u>: &nbsp; <%= @song.release_year %> </p>
<% else %>
    <p> &nbsp;&nbsp; * Was not released *</p>
<% end %>
<br>
<br>
<%= link_to "Click here to edit this song's info.", edit_song_path %>
<br>
<%= link_to "Click here to return to the song list.", songs_path %>
<br>
<br>

